* {
    font-family: "Comfortaa", sans-serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#p1skor {
    color: white;
    background-color: cadetblue;
    padding-top: 4px;
    font-size: 55px;
    font-weight: bolder;
}

#p2skor {
    color: white;
    background-color: crimson;
    padding-top: 4px;
    font-size: 55px;
    font-weight: bolder;
}

#p1button, #p2button {
    height: 27px;
}

#cabor {
    margin-left: 15%;
    width: 70%;
}

#papan {
    font-weight: bold;
    font-size: large;
    background-color: aliceblue;
    border-radius: 30px;
    height: auto;
    /* max-height: 100%; */
}

#duece {
    width: auto;
}

section {
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    width: 50%;
}

@media(max-width : 650px) {
    section {
        width: auto;
    }
}

@media(max-width : 991px) {
    * {
        font-size: small;
    }
}